body {
  font-family: sans-serif;
  font-size: 1.25rem;
}

textarea {
  font-size: 1rem;
}

span {
  color: red;
}

input {
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1rem;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section div {
  width: 75px;
  height: 1.5rem;
  display: flex;
  justify-content: space-between;
  margin: 8px;
}